<span>Olá, {{ deliverymanName }}!</span>
<br />
<p>Boas notícias, nós temos uma <strong>nova entrega para você</strong>!</p>
<p>O destinatário <em>{{ recipientName }}</em>, residente em <strong>{{ recipientAddress }}</strong>, está aguardando
  pela encomenda descrita como <em>{{ deliveryProduct }}</em>.</p>
<p>
  Por favor, logo que possível, venha ao nosso escritório para retirar o objeto a ser entregue.
  <br />
  <small style="color: #555">
    Lembre-se, retiradas de entregas só estão disponíveis das <strong>{{ pickupInitialHour }}h</strong> às
    <strong>{{ pickupFinalHour }}h</strong> ({{ localTimezone }}).
  </small>
</p>
